body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#pokedex-list {
  list-style-type: none;
  padding: 0;
}

#loading-message {
  text-align: center;
}

#pokemon-image {
  max-width: 100%;
  height: auto;
}
